# DB
POSTGRES_DB=imu
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# DSN для воркера
DB_DSN=postgresql://postgres:postgres@db:5432/imu

# WS URL (если bridge на хосте)
WS_URL=ws://host.docker.internal:8765/ws/json
